.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.newsDescription {
  display: none;
}

a:hover + .newsDescription {
  display: block;
}


body {
  margin: 40px;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 400px 400px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 100%;
  height: 100%;
}

.a {
  background-color: orangered;
  text-align: center;
}

.b {
  background-color: blue;
  text-align: center;
}

.c {
  background-color: green;
}
.c a:link{
  color:#FFFFFF;
  text-decoration: none;
  font-weight: bold
}
.c a:visited{
  color:#FFFFFF;
}



.d {
  background-color: red;
}

.e {
  background-color: black;
}
